################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Win32/.vs
/Win32/AddHotKey/Debug
/Win32/AddHotKey/Release
/Win32/AddHotKeyHook/Debug
/Win32/AddHotKeyHook/Release
/Win32/Debug
/Win32/Release
